force-app/main/default/flows/Uno_Create_New_Turn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Auto_Done_Set_Draw_Count_to_0</name>
        <label>Auto Done - Set Draw Count to 0</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>drawCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Auto_Done_True</name>
        <label>Auto Done True</label>
        <locationX>248</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>isTurnAutoDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Game</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Set_Draw_Count_to_0</name>
        <label>Default - Set Draw Count to 0</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>drawCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Turn</name>
        <label>Init New Turn</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>newTurn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.Player__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextPlayer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Top_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Draw_Count_to_0</name>
        <label>Set Draw Count to 0</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>drawCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skip</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Draw_Count_to_2</name>
        <label>Set Draw Count to 2</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>drawCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draw Two</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Draw_Count_to_4</name>
        <label>Set Draw Count to 4</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>drawCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draw Four</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Game_Card_Hand</name>
        <label>Set Game Card Hand</label>
        <locationX>776</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Get_Next_Game_Card.Pile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextPlayer.Hand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentDrawIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Game_Card_Pile_to_Hand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Turn_Fields</name>
        <label>Set New Turn Fields</label>
        <locationX>776</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>newTurn.Drawn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Game_Card.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTurn.DrawnCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>drawCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Draw_Count_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Player</name>
        <label>Set Next Player</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_User_Reversed_Attempt_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_New_Turn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Player_2</name>
        <label>Set Next Player 2</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_User_Reversed_Attempt_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_New_Turn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Player_3</name>
        <label>Set Next Player 3</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_User_Attempt_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_New_Turn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Player_4</name>
        <label>Set Next Player 4</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_User_Attempt_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_New_Turn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Fields</name>
        <label>Set Result Fields</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot create new Turn - current Turn is not complete.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Draw_Count_Reached</name>
        <label>Draw Count Reached?</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Game_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draw_Count_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentDrawIndex</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>drawCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Next_Turn</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Top_Card</name>
        <label>Evaluate Top Card</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Default_Set_Draw_Count_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Turn_Auto_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTurnAutoDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Done_Set_Draw_Count_to_0</targetReference>
            </connector>
            <label>Last Turn Auto Done?</label>
        </rules>
        <rules>
            <name>Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Game.TopCard__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Draw_Count_to_0</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
        <rules>
            <name>Draw_Two</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Game.TopCard__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draw Two</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Draw_Count_to_2</targetReference>
            </connector>
            <label>Draw Two</label>
        </rules>
        <rules>
            <name>Draw_Four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Game.TopCard__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draw Four</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Draw_Count_to_4</targetReference>
            </connector>
            <label>Draw Four</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Turn_Done</name>
        <label>Is Turn Done?</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Result_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Turn_Done_Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Turn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Turn.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Game.DiscardPile__r.CardCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reversed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Fires on Skip, Draw Two, Draw Four</description>
        <name>Next_Turn_Auto_Done</name>
        <label>Next Turn Auto-Done?</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTurn.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isTurnAutoDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Done_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Player_Found</name>
        <label>Player Found?</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_User_Attempt_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Player_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_User_Attempt_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Player_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Player_Found_Reversed_Attempt</name>
        <label>Player Found (Reversed Attempt)?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_User_Reversed_Attempt_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Player_Found_Reversed_Attempt_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_User_Reversed_Attempt_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Player</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reversed</name>
        <label>Reversed?</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_User_Attempt_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reversed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReversed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_User_Reversed_Attempt_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V4 - removing automatically selecting a card for the user&apos;s turn
V3 - Replaced Card__c with UnoCard__mdt</description>
    <environments>Default</environments>
    <formulas>
        <name>isReversed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Game.IsReversed__c}</expression>
    </formulas>
    <formulas>
        <name>latestTurnPlayerSequence</name>
        <dataType>Number</dataType>
        <expression>IF(
   NOT(ISBLANK({!Get_Latest_Turn.Id})),
   {!Get_Latest_Turn.Player__r.Sequence__c},
   IF({!isReversed} == true, 1, 0)
)</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>Uno : Create New Turn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Uno : Create New Turn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Next_Turn</name>
        <label>Create Next Turn</label>
        <locationX>380</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Next_Turn_Auto_Done</targetReference>
        </connector>
        <inputReference>newTurn</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Game</name>
        <label>Get Game</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Turn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Turn</name>
        <label>Get Latest Turn</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Turn_Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Turn__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_User_Attempt_1</name>
        <label>Get Latest User (Attempt 1)</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Player_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>latestTurnPlayerSequence</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Latest_Turn.Player__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_User_Attempt_2</name>
        <label>Get Latest User (Attempt 2)</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Next_Player_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Latest_Turn.Player__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_User_Reversed_Attempt_1</name>
        <label>Get Latest User (Reversed Attempt 1)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Player_Found_Reversed_Attempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>latestTurnPlayerSequence</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Latest_Turn.Player__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_User_Reversed_Attempt_2</name>
        <label>Get Latest User (Reversed Attempt 2)</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Next_Player_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Latest_Turn.Player__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Game_Card</name>
        <label>Get Next Game Card</label>
        <locationX>776</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Game_Card_Hand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.DrawPile__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameCard__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_Game_Card_Pile_to_Hand</name>
        <label>Update Next Game Card Pile to Hand</label>
        <locationX>776</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Set_New_Turn_Fields</targetReference>
        </connector>
        <inputReference>Get_Next_Game_Card</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentDrawIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>drawCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>gameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isTurnAutoDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTurn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Turn__c</objectType>
    </variables>
    <variables>
        <name>nextPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
