force-app/main/default/flows/Uno_New_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Game_Card_By_Index</name>
        <label>Get Game Card By Index</label>
        <locationX>490</locationX>
        <locationY>2870</locationY>
        <actionName>GetRecordByIndexInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Updated_Game_Card</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>GameCard__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>GameCard__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>index</name>
            <value>
                <elementReference>gameCardIndex</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>gameCardsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordByIndexInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Relate_Hands_to_Players</name>
        <label>Relate Hands to Players</label>
        <locationX>226</locationX>
        <locationY>2330</locationY>
        <actionName>RelateRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Players</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__relateds</typeName>
            <typeValue>Player__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sources</typeName>
            <typeValue>Pile__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>relatedField</name>
            <value>
                <stringValue>Hand__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relateds</name>
            <value>
                <elementReference>playersCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sources</name>
            <value>
                <elementReference>handsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RelateRecordsInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Shuffle_Game_Cards</name>
        <label>Shuffle Game Cards</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <actionName>ShuffleRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Game_Cards</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>GameCard__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>field</name>
            <value>
                <stringValue>Sequence__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>gameCardsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ShuffleRecordsInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Shuffle_Players</name>
        <label>Shuffle Players</label>
        <locationX>226</locationX>
        <locationY>1706</locationY>
        <actionName>ShuffleRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Players_by_Sequence</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Player__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>field</name>
            <value>
                <stringValue>Sequence__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>playersCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ShuffleRecordsInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Init_Game_Card_Iterator</name>
        <label>Init Game Card Iterator</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>gameCardIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCardIterator.Pile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Draw_Pile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCardIterator.Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cards.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCardsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>gameCardIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Hand</name>
        <label>Init Hand</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>handIterator.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Players_2.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>handIterator.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hand</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>handsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>handIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Players_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Player_Iterator</name>
        <label>Init Player Iterator</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>playerIterator.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>playerIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Updated_Game_Card</name>
        <label>Init Updated Game Card</label>
        <locationX>490</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>updateGameCardIterator.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Card_By_Index.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateGameCardIterator.Pile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Hands.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCardIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedGameCardsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateGameCardIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Hands</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Players_Count_Variable</name>
        <label>Set Players Count Variable</label>
        <locationX>226</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>playersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>playersCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hand_Cards_Count_Reached</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Game_Cards</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Game Cards</label>
        <locationX>226</locationX>
        <locationY>1190</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>gameCardsCollection</collectionReference>
        <connector>
            <targetReference>Create_Game_Cards</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sequence__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Players_by_Sequence</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Players by Sequence</label>
        <locationX>226</locationX>
        <locationY>1814</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>playersCollection</collectionReference>
        <connector>
            <targetReference>Loop_Players_2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sequence__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>handCardsCount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Hand_Cards_Count_Reached</name>
        <label>Hand Cards Count Reached?</label>
        <locationX>226</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Loop_Hands</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hand_Cards_Count_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gameCardIndex</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>maxGameCardIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Game_Cards</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Without Crazy Loop</description>
    <environments>Default</environments>
    <formulas>
        <name>maxGameCardIndex</name>
        <dataType>Number</dataType>
        <expression>{!playersCount} * {!handCardsCount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Uno : New Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Uno : Create New Game</label>
    <loops>
        <name>Loop_Cards</name>
        <label>Loop Cards</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Cards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Game_Card_Iterator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Shuffle_Game_Cards</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Hands</name>
        <label>Loop Hands</label>
        <locationX>402</locationX>
        <locationY>2762</locationY>
        <collectionReference>handsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Game_Card_By_Index</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Hand_Cards_Count_Reached</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Players_2</name>
        <label>Loop Players 2</label>
        <locationX>226</locationX>
        <locationY>1922</locationY>
        <collectionReference>playersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Hand</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Hands</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Users</name>
        <label>Loop Selected Users</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <collectionReference>usersDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Player_Iterator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Shuffle_Players</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Discard_Pile</name>
        <label>Create Discard Pile</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Game</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Discard</stringValue>
            </value>
        </inputAssignments>
        <object>Pile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Draw_Pile</name>
        <label>Create Draw Pile</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Discard_Pile</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Draw</stringValue>
            </value>
        </inputAssignments>
        <object>Pile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Game</name>
        <label>Create Game</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Cards</targetReference>
        </connector>
        <inputAssignments>
            <field>DiscardPile__c</field>
            <value>
                <elementReference>Create_Discard_Pile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawPile__c</field>
            <value>
                <elementReference>Create_Draw_Pile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Game_Cards</name>
        <label>Create Game Cards</label>
        <locationX>226</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Loop_Selected_Users</targetReference>
        </connector>
        <inputReference>gameCardsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Hands</name>
        <label>Create Hands</label>
        <locationX>226</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Relate_Hands_to_Players</targetReference>
        </connector>
        <inputReference>handsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Players</name>
        <label>Create Players</label>
        <locationX>226</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Set_Players_Count_Variable</targetReference>
        </connector>
        <inputReference>playersCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cards</name>
        <label>Get Cards</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Uno_Game</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draw_Pile_Top_Card</name>
        <label>Get Draw Pile Top Card</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Top_Game_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Draw_Pile</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameCard__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Security</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Game_Cards</name>
        <label>Update Game Cards</label>
        <locationX>50</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Get_Draw_Pile_Top_Card</targetReference>
        </connector>
        <inputReference>updatedGameCardsCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Game_with_Top_Card</name>
        <label>Update Game with Top Card</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Create_New_Turn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TopCardColor__c</field>
            <value>
                <elementReference>Get_Draw_Pile_Top_Card.Card__r.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TopCard__c</field>
            <value>
                <elementReference>Get_Draw_Pile_Top_Card.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Top_Game_Card</name>
        <label>Update Top Game Card</label>
        <locationX>50</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Update_Game_with_Top_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Draw_Pile_Top_Card.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pile__c</field>
            <value>
                <elementReference>Create_Discard_Pile</elementReference>
            </value>
        </inputAssignments>
        <object>GameCard__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Uno_Game</name>
        <label>New Uno Game</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Draw_Pile</targetReference>
        </connector>
        <fields>
            <name>usersDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-d418&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-7543&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_New_Turn</name>
        <label>Create New Turn</label>
        <locationX>50</locationX>
        <locationY>3194</locationY>
        <flowName>Uno_Create_New_Turn</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>gameCardIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>gameCardIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
    <variables>
        <name>gameCardsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
    <variables>
        <name>handIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pile__c</objectType>
    </variables>
    <variables>
        <name>handsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pile__c</objectType>
    </variables>
    <variables>
        <name>newCardCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>playerIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>playerPilesIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>playersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>playersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>playersIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedGameCardsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
    <variables>
        <name>updateGameCardIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
</Flow>
