force-app/main/default/flows/Uno_Play_Turn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Turn_Fields</name>
        <label>Set Turn Fields</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Turn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Turn.Discarded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unoHand.selectedGameCard.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unoHand.selectedGameCard.Pile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Turn.Game__r.DiscardPile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Game_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Turn_Fields_Draw_Card</name>
        <label>Set Turn Fields (Draw Card)</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Turn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Drawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Turn_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Screen_Two_Outcome</name>
        <label>Screen Two Outcome</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Turn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screen_Two_Outcome_Draw_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c1.isClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Turn_Fields_Draw_Card</targetReference>
            </connector>
            <label>Draw Card</label>
        </rules>
        <rules>
            <name>Screen_Two_Outcome_Discard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unoTurnFooter.selectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Turn_Fields</targetReference>
            </connector>
            <label>Discard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Turn_Status</name>
        <label>Turn Status</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>s1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Turn.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Turn.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaPileId</name>
        <dataType>String</dataType>
        <expression>{!Get_Turn.Player__r.Hand__c}</expression>
    </formulas>
    <interviewLabel>Uno : Play Turn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Uno : Play Turn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Next_Draw_Card</name>
        <label>Get Next Draw Card</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Player_Hand_Game_Cards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.Game__r.DrawPile__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameCard__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Player_Hand_Game_Cards</name>
        <label>Get Player Hand Game Cards</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Turn_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.Player__r.Hand__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameCard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Top_Game_Card</name>
        <label>Get Top Game Card</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Draw_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.Game__r.TopCard__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameCard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Turn</name>
        <label>Get Turn</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Top_Game_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Drawn_Card</name>
        <label>Update Drawn Card</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Player_Hand_Game_Cards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Next_Draw_Card.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pile__c</field>
            <value>
                <elementReference>Get_Turn.Player__r.Hand__c</elementReference>
            </value>
        </inputAssignments>
        <object>GameCard__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Game_Card</name>
        <label>Update Game Card</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Game_Top_Card_Fields</targetReference>
        </connector>
        <inputReference>unoHand.selectedGameCard</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Game_Top_Card_Fields</name>
        <label>Update Game Top Card Fields</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_Turn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.Game__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TopCardColor__c</field>
            <value>
                <elementReference>unoHand.selectedGameCard.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TopCard__c</field>
            <value>
                <elementReference>unoHand.selectedGameCard.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Turn</name>
        <label>Update Turn</label>
        <locationX>314</locationX>
        <locationY>1364</locationY>
        <connector>
            <targetReference>Create_Next_Turn</targetReference>
        </connector>
        <inputReference>Get_Turn</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Turn_Status</name>
        <label>Update Turn Status</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Drawn_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Drawn</stringValue>
            </value>
        </inputAssignments>
        <object>Turn__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt1</name>
            <fieldText>&lt;p&gt;It&apos;s not your turn. Stop cheating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Two_Outcome</targetReference>
        </connector>
        <fields>
            <name>s2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Top Card&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>unoCard</name>
                    <extensionName>c:unoCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>gameCard</name>
                        <value>
                            <elementReference>Get_Top_Game_Card</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Draw Card&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>c1</name>
                    <extensionName>c:clickable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Click to Draw!</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Turn.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Next</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Your Hand&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>unoHand</name>
            <extensionName>c:unoHand</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topGameCard</name>
                <value>
                    <elementReference>Get_Top_Game_Card</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>playerGameCards</name>
                <value>
                    <elementReference>Get_Player_Hand_Game_Cards</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>unoTurnFooter</name>
            <extensionName>c:unoTurnFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>playableCardCount</name>
                <value>
                    <elementReference>unoHand.playableCardCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedGameCard</name>
                <value>
                    <elementReference>unoHand.selectedGameCard</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>314</locationX>
        <locationY>1580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt2</name>
            <fieldText>&lt;p&gt;Turn done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Turn</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Next_Turn</name>
        <label>Create Next Turn</label>
        <locationX>314</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>s3</targetReference>
        </connector>
        <flowName>Uno_Create_New_Turn</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Get_Turn.Game__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>var1</stringValue>
        </value>
    </variables>
</Flow>
